<div id="app">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="introduction">
          <p>This is an example of integrating Vue with Rails 5.1+ and the webpacker gem.</p>
          <p>Data is collected dynamically from an API based on the user input, everytime he presses a key which in effect updates the components.</p>
          <p>The API <code>https://wagon-dictionary.herokuapp.com/</code> indicates if the given word is a valid english word (validator) or indicates the words which use the given word as a stem (autocomplete).</p>
          <p>Vue features used: single file components, interpolations, directives, conditional rendering, list rendering, event handeling, form input bindings. The source code can be found <a href="https://github.com/alex-felix/vue-autocomplete">here</a>.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <h2>Validator</h2>

        <div id="autocomplete">
          <validator></validator>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h2>Autocomplete</h2>

        <div id="autocomplete">
          <autocomplete></autocomplete>
        </div>
      </div>
    </div>
  </div>
</div>

<%= stylesheet_pack_tag 'home' %>
<%= javascript_pack_tag 'home' %>
