<div id="app">
  <div class="container">
    <div class="row">
      <div class="col-12">
        Explanation
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <h2>Validator</h2>

        <div id="autocomplete">
          <validator></validator>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h2>Autocomplete</h2>

        <div id="autocomplete">
          <autocomplete></autocomplete>
        </div>
      </div>
    </div>
  </div>
</div>

<%= stylesheet_pack_tag 'home' %>
<%= javascript_pack_tag 'home' %>
